# python 3.9.19
# torch 2.1.1
# torchvision 0.16.1
transformers==4.40.2
tqdm==4.66.4
black==24.4.2
click==8.1.7
# cv2 4.5.5
opencv_python==4.5.5
nlpaug==1.1.11
pandas==2.2.2
shapely==2.0.4
scikit-learn==1.4.2
